<div>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <label for="firstname">First Name </label>
    <input type="text" id="firstname" name="firstname" formControlName="firstname">

    <label for="lastname">Last Name </label>
    <input type="text" id="lastname" name="lastname" formControlName="lastname">

    <label for="middlename">Middle Name </label>
    <input type="text" id="middlename" name="middlename" formControlName="middlename">

    <label for="dob">Date of Birth (YYYYMMDD) </label>
    <input type="text" id="dob" name="dob" formControlName="dob">

  <label for="sap">SAP ID </label>
  <input type="text" id="sap" name="sap" formControlName="sap">

  <label for="doj">Date of Joining (YYYYMMDD) </label>
  <input type="text" id="doj" name="doj" formControlName="doj">

  <label for="project">Project </label>
  <input type="text" id="project" name="project" formControlName="project">


  <button type="submit">Submit</button>
</form>


<div *ngIf="data">
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>DOB</th>
      <th>SAP</th>
      <th>DOJ</th>
    </tr>
    <tr>
      <td>
        {{this.contactForm.value.firstname}}
      </td>
      <td>
        {{this.contactForm.value.lastname}}
      </td>
      <td>
        {{this.contactForm.value.dob}}
      </td>
      <td>
        {{this.contactForm.value.sap}}
      </td>
      <td>
        {{this.contactForm.value.doj}}
      </td>
    </tr>
  </table>
</div>
</div>
